In [1]:
import pandas as pd
import numpy as np

# Merging

Since when cleaning there was an issue with two universities: Boston College and Northeastern. Boston College had extra columns that we weren't sure what to do with, Northeastern whereas had different columns from other files so we had to fix that.

In [2]:
merged = pd.read_excel('../data/sorted/merged_missing_bc_ne.xlsx')

In [3]:
# merge Boston College and Northeaster University
bc = pd.read_csv("../data/sorted/universities/BostonCollege.csv")
neu = pd.read_csv("../data/sorted/universities/NortheasternUniversity.csv",low_memory=False)

In [4]:
bc.head()

,street_number,street_name,street_suffix,unit_number,zip_code,level_of_study,full_time,extra_large_unit,expected_graduation_term,housing_type,at_home,year_range,university
0,34,Bay St,NaN,NaN,2171.0,U,Full Time,N,NaN,City of Boston off-campus not-at-home (formall...,NaN,2022-2023,Boston College
1,775,Beacon St,NaN,Apt#B1 517,2215.0,U,Full Time,N,NaN,City of Boston off-campus not-at-home (formall...,NaN,2022-2023,Boston College
2,242,Bowdoin St,NaN,NaN,2122.0,U,Full Time,N,NaN,City of Boston off-campus not-at-home (formall...,NaN,2022-2023,Boston College
3,NaN,PO Box 1202,NaN,NaN,2134.0,U,Part Time,N,NaN,City of Boston off-campus not-at-home (formall...,NaN,2022-2023,Boston College
4,50,Causeway St,NaN,1702,2114.0,U,Part Time,N,NaN,City of Boston off-campus not-at-home (formall...,NaN,2022-2023,Boston College

In [5]:
' | '.join(list(merged.columns))

'street_number | street_name | street_suffix | unit_number | zip_code | level_of_study | full_time | extra_large_unit | at_home | year_range | university'

In [6]:
' | '.join(list(bc.columns))

'street_number | street_name | street_suffix | unit_number | zip_code | level_of_study | full_time | extra_large_unit | expected_graduation_term | housing_type | at_home | year_range | university'

In [7]:
' | '.join(list(neu.columns))

'street_number | street_name | street_suffix | unit_number | zip_code | level_of_study | full_time | extra_large_unit | at_home | year_range | university'

In [8]:
# drop the housing_type and expecgted graduation_term columns from bc
bc.drop(columns=['housing_type', 'expected_graduation_term'], inplace=True)

In [9]:
' | '.join(list(bc.columns))

'street_number | street_name | street_suffix | unit_number | zip_code | level_of_study | full_time | extra_large_unit | at_home | year_range | university'

In [10]:
# now we can concat the two dataframes
bc_neu = pd.concat([bc, neu], ignore_index=True)
# now concat to the merged dataframe
merged = pd.concat([merged, bc_neu], ignore_index=True)

In [11]:
merged.to_csv('../data/sorted/merged_full.csv', index=False)

# Cleaning the addresses

Now, after everything is merged we can start the cleaning

## Address Seperation

Since some of the addresses were not seperated beforehand, but some chunk was seperated, however, upon further inspection, we realized that even seperated, that subset was not perfectly seperated, so we decided to merge all the street related columns into 1 and run the algorithm on the full dataset.

In [12]:
import pandas as pd
import numpy as np

In [13]:
merged = pd.read_csv('../data/sorted/merged_full.csv',low_memory=False)

In [14]:
merged['street_number'] = merged['street_number'].fillna('')
merged['street_name'] = merged['street_name'].fillna('')
merged['street_suffix'] = merged['street_suffix'].fillna('')
merged['unit_number'] = merged['unit_number'].fillna('')

In [15]:
merged['street_name'] = merged['street_number'] + ' ' + merged['street_name'] + ' ' + merged['street_suffix'] + ' ' + merged['unit_number']

In [16]:
# set the street_number, street_name, street_suffix, unit_number to empty string
merged['street_number'] = ''
merged['street_suffix'] = ''
merged['unit_number'] = ''

In [17]:
from address_parser import parse_address

merged[['street_number', 'street_name', 'street_suffix', 'unit_number']] = merged['street_name'].apply(parse_address)

In [18]:
merged.head(50)

,street_number,street_name,street_suffix,unit_number,zip_code,level_of_study,full_time,extra_large_unit,at_home,year_range,university
0,66,leighton,rd,None,2136,U,FT,N,NaN,2018-2019,Baptist College
1,66,leighton,rd,None,2136,U,FT,N,NaN,2018-2019,Baptist College
2,50,rockwell,st,None,2124,U,PT,N,NaN,2019-2020,Baptist College
3,50,rockwell,st,None,2124,U,PT,N,NaN,2020-2021,Baptist College
4,75,milton st,west,None,2136,U,FT,NaN,At-Home,2023-2024,Baptist College
5,675,concord,ave,605,2138,U,PT,NaN,at-home,2023-2024,Baptist College
6,45,province,street,1106,02108,U,FT,N,NaN,2016-2017,Bay State College
7,48,richfield,street,None,02125,U,FT,N,NaN,2016-2017,Bay State College
8,40,langdon,street,None,02119,U,FT,N,NaN,2016-2017,Bay State College
9,42,langdon,street,None,02119,U,FT,N,NaN,2016-2017,Bay State College
10,59,b street,street,3015,02127,U,FT,N,NaN,2016-2017,Bay State College
11,643,saratoga,street,None,02128,U,FT,N,NaN,2016-2017,Bay State College
12,26,maverick,street,None,02128,U,PT,N,NaN,2016-2017,Bay State College
13,28a,aguadilla,street,a,02118,U,FT,N,NaN,2016-2017,Bay State College
14,263,talbot,avenue,1,02124,U,FT,N,NaN,2016-2017,Bay State College
15,29,lorne,street,None,02124,U,FT,N,NaN,2016-2017,Bay State College
16,67,cheney,street,1,02121,U,FT,N,NaN,2016-2017,Bay State College
17,48,brighton,avenue,26,02134,U,FT,N,NaN,2016-2017,Bay State College
18,77,ballou,avenue,None,02124-,U,FT,N,NaN,2016-2017,Bay State College
19,34,hendry,street,None,02122,U,FT,N,NaN,2016-2017,Bay State College
20,660,washington,street,10j,02111,U,FT,N,NaN,2016-2017,Bay State College
21,20,mamelon,circle,None,02126,U,FT,N,NaN,2016-2017,Bay State College
22,683,parker,street,None,02120,U,FT,N,NaN,2016-2017,Bay State College
23,12,verrill,street,None,02126,U,FT,N,NaN,2016-2017,Bay State College
24,1120,washington,street,None,02124,U,FT,N,NaN,2016-2017,Bay State College
25,1130,commonwealth,avenue,5,02134,U,FT,N,NaN,2016-2017,Bay State College
26,150,huntington sh10,avenue,None,02115,U,FT,N,NaN,2016-2017,Bay State College
27,40,wood,avenue,None,02126,U,FT,N,NaN,2016-2017,Bay State College
28,77,exeter,street,2503,02116,U,FT,N,NaN,2016-2017,Bay State College
29,62,l street,street,2,02127,U,FT,N,NaN,2016-2017,Bay State College
30,12,york,street,None,02121,U,FT,N,NaN,2016-2017,Bay State College
31,19,dacia,street,r,02125,U,FT,N,NaN,2016-2017,Bay State College
32,67,clarkson,street,None,02125,U,FT,N,NaN,2016-2017,Bay State College
33,968,river,street,2,02136,U,FT,N,NaN,2016-2017,Bay State College
34,74,geneva,avenue,None,02121,U,FT,N,NaN,2016-2017,Bay State College
35,271,sumner,street,None,02128,U,FT,N,NaN,2016-2017,Bay State College
36,45,brookledge,street,3,02121,U,PT,N,NaN,2016-2017,Bay State College
37,151,calumet,street,None,02120,U,FT,N,NaN,2016-2017,Bay State College
38,71,clement,avenue,None,02132,U,FT,N,NaN,2016-2017,Bay State College
39,944,parker,street,382,02130,U,FT,N,NaN,2016-2017,Bay State College
40,96,brooke,avenue,None,02125,U,FT,N,NaN,2016-2017,Bay State College
41,8,wainwright,street,None,02124,U,FT,N,NaN,2016-2017,Bay State College
42,9,victory,road,19,02122,U,PT,N,NaN,2016-2017,Bay State College
43,128,old ironsides,way,None,02129,U,FT,N,NaN,2016-2017,Bay State College
44,101,canal,street,518,02114,U,FT,N,NaN,2016-2017,Bay State College
45,797,huntington,avenue,None,02115,U,PT,N,NaN,2016-2017,Bay State College
46,797,huntington,avenue,None,02115,U,FT,N,NaN,2016-2017,Bay State College
47,114,winthrop,street,None,02119,U,FT,N,NaN,2016-2017,Bay State College
48,166,salem,street,1f,02113,U,FT,N,NaN,2016-2017,Bay State College
49,605,truman,parkway,None,02136,U,FT,N,NaN,2016-2017,Bay State College

# Cleaning zip-codes

In [19]:
merged_zip = merged.copy()

In [20]:
def fix_zip(zip):
    # edge case for zip codes that are 8 digits long
    #
    # if the actual zip is, say, 02134-5678
    # but it could've been filled as 21345678
    # so we need to add a 0 in front of the zip
    # and then add a hyphen in the middle
    if len(zip) == 8:
        return '0' + zip[:5] + '-' + zip[5:]
    
    # some zip codes were filled like 2134 instead of 02134
    if len(zip) < 5 and zip.isdigit():
        return '0' * (5 - len(zip)) + zip

    # some zip codes had extra numbers at the end, but not enough to be a full 9-digit zip code    
    if len(zip) >= 5 and len(zip) <= 9 and zip[0] == '0':
        return zip[:5]
    
    is_num = is_a_number(zip) # validate if the zip code is a number (if the zip is a subtype of a 5-digit zip code it will be true)

    if is_num and len(str(is_num)) <= 5: # example: 2134
        zip = str(zip)
        return '0' * (5 - len(zip)) + zip

    if is_num and is_float(zip): # examples from dataset: 2134.0
        zip = int(is_num)
        zip = str(zip)
        return '0' * (5 - len(zip)) + zip        
    
        
    if '-' in zip: # if the zip code has a hyphen ( 9-digit zip code )
        zip = zip.split('-')
        
        if len(zip[0]) != 5: # if the first part of the zip code is not 5 digits long, then add trailing 0s
            zip[0] = '0' * (5 - len(zip[0])) + zip[0]
        
        if len(zip[1]) != 4: # if the second part of the zip code is not 4 digits long, then the zip code should be the first part only ( 5-digit zip code )
            return zip[0]
        
        # otherwise, return the full 9-digit zip code
        return zip[0] + '-' + zip[1]
    
    # just in case the zip code is a 9-digit zip code without a hyphen
    return zip

def is_int(s):
    try:
        int(s)
        return int(s)
    except ValueError:
        return False

def is_float(s):
    try:
        float(s)
        return float(s)
    except ValueError:
        return False
    
def is_a_number(s):
    return is_int(s) or is_float(s)

# convert zip_code column to str
merged_zip['zip_code'] = merged_zip['zip_code'].astype(str)
# strip the zip_code column
merged_zip['zip_code'] = merged_zip['zip_code'].str.strip()

# get rid of some values, since they are not valid zip codes ( at all )
merged_zip.loc[merged_zip['zip_code'] == 'P'] = ''
merged_zip.loc[merged_zip['zip_code'] == 'F'] = ''

# drop the columns where zip_code == 727420, the reason for this is because that zip code belongs to a different country
merged_zip = merged_zip[merged_zip['zip_code'] != '727420']

# now apply
merged_zip['zip_code'] = merged_zip['zip_code'].apply(fix_zip)

In [21]:
# now print zip values that are not 5 digits long and not 10 digits long
for zip in merged_zip['zip_code']:
    if len(zip) != 5 and len(zip) != 10 and len(zip) != 0:
        print(zip)

# Level of study cleaning and Full Time

There was a problem with a dataset

There were some values that didn't make any sense, and we weren't sure what to do. 

For example, level_of_study had values such as "3 UG; 5G", which according to definition given in the files, made 0 sense.

However, then we realized that the data was filled incorrectly. Rather than creating a row for each student, they created one row per address.

Therefore, "3 UG; 5 G" meant that on that address 3 undergrads reside and 5 graduates. The reason for such a bold assumtion is that the same row value for full time was "all FT".

Therefore, we decided to approach these two columns at once, since some odd values might have explanation from the full_time column, which they actually did

In [22]:
merged_los_ft = merged_zip.copy()

In [23]:
filter = lambda x,y : x in y

A few comments beforehand

we want to minimze the varience in the values, so we decided that a domain of 3 values for some categorical columns is a good idea. 

One of the values in the domain is dk - don't know, which helps to avoid any issues that are faced when dealing with nan values

Additionally, some values for not proper for the column, such as exchange column for level of study, so we marked such columns as dk

Everything else can be seen in the commens before each operation

The comments before the actions tell which invalid column names we had worked with.

The below cell creates every possible unique combination of level_of_study and full_time

As recorded right before, there were 80 unique combination, we dropped that number to 8

In [24]:
# strip the level_of_study and full_time columns
merged_los_ft['level_of_study'] = merged_los_ft['level_of_study'].str.strip()
merged_los_ft['full_time'] = merged_los_ft['full_time'].str.strip()

# lower
merged_los_ft['level_of_study'] = merged_los_ft['level_of_study'].str.lower()
merged_los_ft['full_time'] = merged_los_ft['full_time'].str.lower()

# fill na with dk - don't know
merged_los_ft['level_of_study'] = merged_los_ft['level_of_study'].fillna('dk')
merged_los_ft['full_time'] = merged_los_ft['full_time'].fillna('dk')
# fill empty string with dk
merged_los_ft['level_of_study'] = merged_los_ft['level_of_study'].replace('', 'dk')
merged_los_ft['full_time'] = merged_los_ft['full_time'].replace('', 'dk')

# change exchange student, woods college, woods college of advancing studies to dk
merged_los_ft.loc[merged_los_ft['level_of_study'].str.contains('exchange student'), 'level_of_study'] = 'dk'
merged_los_ft.loc[merged_los_ft['level_of_study'].str.contains('woods college'), 'level_of_study'] = 'dk'

# change d,e,s to dk in full_time
f = ['d', 'e', 's']
merged_los_ft['level_of_study'] = merged_los_ft['level_of_study'].apply(lambda x: 'dk' if filter(x, f) else x)

# change half, ht, p, part, half time, part-time, part time to pt
f = ['half', 'ht', 'p', 'part', 'half time', 'part-time', 'part time']
merged_los_ft['full_time'] = merged_los_ft['full_time'].apply(lambda x: 'pt' if filter(x, f) else x)

# change f, fn, full, full time, full-time f1 foreign students, fp to ft
f = ['f', 'fn', 'full', 'full time', 'full-time', 'full-time f-1 foreign students', 'fp']
merged_los_ft['full_time'] = merged_los_ft['full_time'].apply(lambda x: 'ft' if filter(x, f) else x)

# change gr, grad, graduate, 1 g to g
f = ['gr', 'grad', 'graduate', '1 g']
merged_los_ft['level_of_study'] = merged_los_ft['level_of_study'].apply(lambda x: 'g' if filter(x, f) else x)

# change ug, undergraduate, undergrad to u
f = ['ug', 'undergraduate', 'undergrad']
merged_los_ft['level_of_study'] = merged_los_ft['level_of_study'].apply(lambda x: 'u' if filter(x, f) else x)

# change d, e, s to dk in full_time
f = ['d', 'e', 's']
merged_los_ft['full_time'] = merged_los_ft['full_time'].apply(lambda x: 'dk' if filter(x, f) else x)

# change u and g, g and ug, g and u, u and graduate to both
f = ['u and g', 'g and ug', 'g and u', 'u and graduate']
merged_los_ft['level_of_study'] = merged_los_ft['level_of_study'].apply(lambda x: 'both' if filter(x, f) else x)

The reason for using both is that we knew that those rows actually contained multiple data points within, so we decided to stick to value of both before we fix that issue

Additionally, the explanation for combinations is right below this cell

In [25]:
# combinations:

# '3 ug; 5 g' , 'all ft' = actually 8 rows, 5 g and 3 u, all ft, so we will create new rows for each, and then delete this row
# 'both', 'ft' is actually 2 rows, where 1 is g and the other is u, full_time will be ft for both
# 'both', 'ft and pt' is actually 2 rows, where 1 is g and the other is u, full_time will be ft for one and pt for the other
# 'both', 'pt and ft' is actually 2 rows, where 1 is g and the other is u, full_time will be pt for one and ft for the other
# 'g', 'ft and pt' is actually 2 rows, where both are g, full_time will be ft for one and pt for the other

# create new rows for '3 ug; 5 g' , 'all ft'
# first find the index of the row
index = merged_los_ft[(merged_los_ft['level_of_study'] == '3 ug; 5 g') & (merged_los_ft['full_time'] == 'all ft')].index
# might be more than 1

new_rows = []

for i in index:
    for i in range(3):
        t = merged_los_ft.loc[i].copy()
        t['level_of_study'] = 'u'
        t['full_time'] = 'ft'
        new_rows.append(t)

    for i in range(5):
        t = merged_los_ft.loc[i].copy()
        t['level_of_study'] = 'g'
        t['full_time'] = 'ft'
        new_rows.append(t)

# delete the old rows
merged_los_ft.drop(index, inplace=True)

# add the new rows
merged_los_ft = pd.concat([merged_los_ft, pd.DataFrame(new_rows)], ignore_index=True)

In [26]:
# now 'both' and 'ft'
index = merged_los_ft[(merged_los_ft['level_of_study'] == 'both') & (merged_los_ft['full_time'] == 'ft')].index
# might be more than 1

new_rows = []

for i in index:
    t = merged_los_ft.loc[i].copy()
    t['level_of_study'] = 'g'
    new_rows.append(t)

    t = merged_los_ft.loc[i].copy()
    t['level_of_study'] = 'u'
    new_rows.append(t)

# delete the old rows
merged_los_ft.drop(index, inplace=True)

# add the new rows
merged_los_ft = pd.concat([merged_los_ft, pd.DataFrame(new_rows)], ignore_index=True)

In [27]:
# now 'both' and 'ft and pt' or 'both' and 'pt and ft'
index = merged_los_ft[(merged_los_ft['level_of_study'] == 'both') & ((merged_los_ft['full_time'] == 'ft and pt') | (merged_los_ft['full_time'] == 'pt and ft'))].index
# might be more than 1

new_rows = []

for i in index:
    t = merged_los_ft.loc[i].copy()
    t['level_of_study'] = 'g'
    t['full_time'] = 'ft'
    new_rows.append(t)

    t = merged_los_ft.loc[i].copy()
    t['level_of_study'] = 'u'
    t['full_time'] = 'pt'
    new_rows.append(t)

# delete the old rows
merged_los_ft.drop(index, inplace=True)

# add the new rows
merged_los_ft = pd.concat([merged_los_ft, pd.DataFrame(new_rows)], ignore_index=True)

In [28]:
# now 'g' and 'ft and pt'
index = merged_los_ft[(merged_los_ft['level_of_study'] == 'g') & (merged_los_ft['full_time'] == 'ft and pt')].index
# might be more than 1

new_rows = []

for i in index:
    t = merged_los_ft.loc[i].copy()
    t['full_time'] = 'ft'
    new_rows.append(t)

    t = merged_los_ft.loc[i].copy()
    t['full_time'] = 'pt'
    new_rows.append(t)

# delete the old rows
merged_los_ft.drop(index, inplace=True)

# add the new rows
merged_los_ft = pd.concat([merged_los_ft, pd.DataFrame(new_rows)], ignore_index=True)

In [29]:
# now count all the unique combinations of level of study and full time and, then just return them as list
t = merged_los_ft.groupby(['level_of_study', 'full_time']).size().reset_index().values.tolist()
len(t),t

(8,
 [['dk', 'dk', 587],
  ['dk', 'ft', 126],
  ['dk', 'pt', 122],
  ['g', 'dk', 182],
  ['g', 'ft', 128610],
  ['g', 'pt', 12641],
  ['u', 'ft', 137100],
  ['u', 'pt', 12525]])

# At Home

Now we are going to map at_home column in the same domain of values

In [30]:
merged_at_home = merged_los_ft.copy()

In [31]:
# fill na with empty string in at_home
merged_at_home['at_home'] = merged_at_home['at_home'].fillna('')
# strip
merged_at_home['at_home'] = merged_at_home['at_home'].str.strip()
# lower
merged_at_home['at_home'] = merged_at_home['at_home'].str.lower()

In [32]:
list(merged_at_home['at_home'].unique())

['',
 'at-home',
 'not at home',
 'home',
 'at home',
 'not-at-home',
 'fransiscan seminary',
 'not-at-hhome',
 'n',
 'y',
 'oblate seminary',
 'carmelite seminary']

In [33]:
at_home_f = ['at-home','at home','home','y']
merged_at_home['at_home'] = merged_at_home['at_home'].apply(lambda x: 'y' if filter(x, at_home_f) else x)

In [34]:
not_at_home_f = ['not-at-home','not-at-hhome','n','not at home']
merged_at_home['at_home'] = merged_at_home['at_home'].apply(lambda x: 'n' if filter(x, not_at_home_f) else x)

In [35]:
list(merged_at_home['at_home'].unique())

['', 'y', 'n', 'fransiscan seminary', 'oblate seminary', 'carmelite seminary']

In [36]:
# find columns with oblate seminary
merged_at_home.loc[merged_at_home[merged_at_home['at_home'].str.contains('seminary')].index, 'at_home'] = 'dk'

In [37]:
# fill na with dk
merged_at_home['at_home'] = merged_at_home['at_home'].replace('', 'dk')

In [38]:
list(merged_at_home['at_home'].unique())

['dk', 'y', 'n']

# Extra large Unit

In [39]:
merged_elu = merged_at_home.copy()

In [40]:
list(merged_elu['extra_large_unit'].unique())

['N',
 nan,
 'Y',
 'y',
 'YES',
 'n',
 'N ',
 'No',
 '',
 'do not know',
 '* ',
 '*',
 'NO']

In [41]:
# strip
merged_elu['extra_large_unit'] = merged_elu['extra_large_unit'].str.strip()
# lower
merged_elu['extra_large_unit'] = merged_elu['extra_large_unit'].str.lower()

In [42]:
list(merged_elu['extra_large_unit'].unique())

['n', nan, 'y', 'yes', 'no', '', 'do not know', '*']

In [43]:
merged_elu.loc[merged_elu['extra_large_unit'] == 'no', 'extra_large_unit'] = 'n'
merged_elu.loc[merged_elu['extra_large_unit'] == 'yes', 'extra_large_unit'] = 'y'

In [44]:
list(merged_elu['extra_large_unit'].unique())

['n', nan, 'y', '', 'do not know', '*']

In [45]:
# group do not know, nan and * into dk
dk_f = ['do not know', np.nan , '*']
merged_elu['extra_large_unit'] = merged_elu['extra_large_unit'].apply(lambda x: 'dk' if filter(x, dk_f) else x)

In [46]:
list(merged_elu['extra_large_unit'].unique())

['n', 'dk', 'y', '']

# Getting rid of nan values

After we are done with mapping everything into a more appropriate domain of values, we can now fill na values.

Since we filled most other columns with 'dk', we are not left with street columns only

In [47]:
df = merged_elu.copy()

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291893 entries, 0 to 291892
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   street_number     291077 non-null  object
 1   street_name       291265 non-null  object
 2   street_suffix     283219 non-null  object
 3   unit_number       208790 non-null  object
 4   zip_code          291893 non-null  object
 5   level_of_study    291893 non-null  object
 6   full_time         291893 non-null  object
 7   extra_large_unit  291893 non-null  object
 8   at_home           291893 non-null  object
 9   year_range        291893 non-null  object
 10  university        291893 non-null  object
dtypes: object(11)
memory usage: 24.5+ MB

In [49]:
df.isna().sum()

street_number         816
street_name           628
street_suffix        8674
unit_number         83103
zip_code                0
level_of_study          0
full_time               0
extra_large_unit        0
at_home                 0
year_range              0
university              0
dtype: int64

In [50]:
# fill na in street_number, street_name, street_suffix, unit_number with empty string
df['street_number'] = df['street_number'].fillna('')
df['street_name'] = df['street_name'].fillna('')
df['street_suffix'] = df['street_suffix'].fillna('')
df['unit_number'] = df['unit_number'].fillna('')

We don't want to fill street columns with 'dk' since it is not categorical, therefore, shouldn't be filled like that

In [51]:
df.isna().sum()

street_number       0
street_name         0
street_suffix       0
unit_number         0
zip_code            0
level_of_study      0
full_time           0
extra_large_unit    0
at_home             0
year_range          0
university          0
dtype: int64

# Dictionary

## level_of_study

u - undergraduate

g - graduate

dk - don't know

## at_home

dk - don't know

y - yes

n - no

## university

Baptist College

Bay State College

Berklee College of Music

Boston Architectural College

Boston Conservatory Berklee

Boston College

Boston University

Emerson College

Emmanuel College

Fisher College

Franklin Institute of Technology

Harvard University

Massachusetts College of Pharmacy and Health Sciences

Massachusetts Institute of Technology

MGH Institute of Health Professions

New England College of Optometry

New England Conservatory

New England Law

Northeastern University

Sattler College

SHOWA Boston Institute

Simmons College

St John Seminary

Suffolk University

Tufts University

University of Massachusetts Boston

Urban College of Boston

Wentworth Institute of Technology

Wheelock College

## year_range

2018-2019

2019-2020

2020-2021

2023-2024

2016-2017

2017-2018

2021-2022

2022-2023

## extra_large_unit

n - no

dk - don't know

y - yes

# Save the Result

In [52]:
for col in df.columns:
    df[col] = df[col].astype(str)

In [54]:
df.to_excel('../data/sorted/final.xlsx', index=False)